<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.consigliaviaggi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GUI.MappaPage" android:screenOrientation="nosensor" ></activity>
        <activity android:name=".GUI.GestioneMiaRecensionePage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.MieRecensioniPage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.InserimentoRecensionePage" android:screenOrientation="nosensor" />
        <activity
            android:name=".GUI.RecensioniStrutturaPage"
            android:label="@string/title_activity_recensioni_struttura_page"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.GalleryStrutturaPage"
            android:label="@string/title_activity_gallery_struttura_page"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".GUI.OverviewStrutturaPage"
            android:label="@string/title_activity_overview_struttura_page"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.ListaStrutturePage"
            android:label="@string/title_activity_lista_strutture_page"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GUI.CambiaEmailPage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.CambiaPasswordPage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.RecuperaPasswordPage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.RegistrazionePage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.VerificationCodePage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.RicercaPage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.ProfiloPage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.LoginPage" android:screenOrientation="nosensor"/>
        <activity android:name=".GUI.MainActivity" android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>